<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" description="Laboration med Express">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Laboration 1</title>
</head>

<body>
    <nav>
  
        <div><a href="/">Start</a></div>
        <div><a href="/about">Om</a></div>
        <div><a href="/courses">Kurser</a></div>
    
   
</nav>
    <main>
    <h1>Webbplatsens syfte</h1>
    <p>Syftet med laborationen och denna webbplats är att djupdyka ner i serverbaserad webbutveckling och att lära sig mer om Express.
        Med hjälp av view engine, Express och Node.js kan jag använda mig av en databas för att presentera olika data.</p>
        <p>Denna uppgift handlar om att skapa ett cv med kurser som man läst. Man kan lägga till kurserna själv genom att fylla
            i kurskod, kursnamn, kursplan och progression. Därefter läggs de till i en tabell som sparas.</p>
    <h2>Databas</h2>
    <p>Jag använde mig först av MySQL men för att kunna publicera via Render på ett enklare sätt använde jag mig sedan av en databas i Render och
        PostgreSQL. Databasen skapades på Renders webbplats men det finns även filen database.sql för att göra en CREATE TABLE courses i mitt git-repo.</p>
    <h3>Slutsatser</h3>
    <p>Denna uppgift var väldigt svår att komma igång med, vilket också är förklaringen till varför den lämnades in en dag sent. Jag är inte van vid Render och behövde
        sätta mig in i det, men som tur var gick det att koppla ihop med GitHub ganska enkelt.</p>
        <p>Trots att jag tror att jag löst uppgiften nu med hjälp av lektioner, förinspelade videos och internetsökningar, så som Stackoverflow och Renders egen
            hemsida, är det fortfarande väldigt mycket att ta in och jag hoppas kunna utveckla kunskaperna i framtida laborationer.</p>
    </main>
    <footer>
        <p>Laboration 1</p>
        <p>Elin Ronda</p>
    </footer>
</body>

</html>

