<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" description="Laboration med Express">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Laboration 1</title>
</head>

<body>
    <nav>
  
        <div><a href="/">Start</a></div>
        <div><a href="/about">Om</a></div>
        <div><a href="/courses">Kurser</a></div>
    
   
</nav>
    <main>
    <p>Hej</p>
    </main>
    <footer>
        <p>Laboration 1</p>
        <p>Elin Ronda</p>
    </footer>
</body>

</html>

