html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid black;
    background-color: #79d479;
    align-items: center;
    justify-content: center;
}

nav div {
    display: flex;
}

nav div {
    list-style-type: none;
    padding: 1rem;

    a {
        text-decoration: none;
        color: black;
        font-size: 2rem;
    }
}

nav div a:hover {
    color: grey;
}

main {
    flex: 1;
    max-width: 1100px;
    margin: 0 auto;
}

button,
#submit {
    background-color: #4fd14f;
    padding: 1rem;
    border-radius: 20px;
    font-size: 1rem;
    border: 1px solid black;
    margin-top: 1rem;
    cursor: pointer;
}

table {
    border: 1px solid black;
}

th {
    padding-right: 2rem;
}

footer {
    background-color: #79d479;
    padding: 20px;
    margin-top: 20px;
}